/* Content
--------------------------------------------------------------*/

.page-header {
	padding: 15px 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin: 30px 0 0;
}

.page-title {
	color: #333;
	margin: 0;
}

.taxonomy-description {
	margin-top: 1em;
}

article {
	margin-bottom: 8rem;
}

.entry-header {
	margin-bottom: 3rem;
}

.entry-title {
	line-height: 1.25;
	margin-bottom: 1.5rem;

	a {
		color: #222;

		&:hover {
			color: #555;
			text-decoration: none;
		}
	}

}

.entry-meta {
	color: #222;
	font-size: 0.9rem;
	text-transform: uppercase;
}

.entry-image,
.entry-content,
.author-meta,
.entry-footer-meta {
	margin: 0 0 2rem;
}
