/* Header
-------------------------------------------------------------- */

#page {
	padding-top: 200px;
}

.site-header {
	top: 0;
	position: fixed;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, 0) );
	z-index: 5000;
	padding: 0 0 50px;
}

.site-branding {

	background: rgba(0,0,0,.03);

	.col-width {
		position: relative;
		max-width: 100%;
		padding-top: 26px;
		padding-bottom: 26px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

}

.site-logo {
	margin: 0;
	line-height: 1;
	float: left;
	margin-right: 30px;

	img {
		max-height: 100px;
	}
}

.brand-text {
	float: left;
}

.site-title {
	font-size: 1.85rem;
	line-height: 1;
	margin: 0;

	a {
		position: relative;
		color: #222;
		text-decoration: none;

		&:hover {
			color: #555;
		}
	}

}

.site-description {
	font-size: 1rem;
	line-height: 1;
	margin: 0;
	margin-top: 10px;
}
