// Colors
$body-background: #fff;
$text-color: #222;
$highlight-color : #67acc0;
$white: #fff;

// Font Families
$body-font : 'Rubik', 'Helvetica Neue', sans-serif;
$header-font : 'Rubik', 'Helvetica Neue', sans-serif;

// Font Sizing
$base-font-size: 17px;

// Breakpoints
$desktop: 1280px;
$tablet: 1000px;
$mobile: 600px;
